@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:400,400italic,300,600,700,800");
@import url("font-awesome.min.css");

/*
	Venue by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1500px;
		min-width: 1200px;
	}

	.container.\37 5\25 {
		width: 900px;
	}

	.container.\35 0\25 {
		width: 600px;
	}

	.container.\32 5\25 {
		width: 300px;
	}

	.container {
		width: 1200px;
	}

	@media screen and (max-width: 1280px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1250px;
			min-width: 1000px;
		}

		.container.\37 5\25 {
			width: 750px;
		}

		.container.\35 0\25 {
			width: 500px;
		}

		.container.\32 5\25 {
			width: 250px;
		}

		.container {
			width: 1000px;
		}

	}

	@media screen and (max-width: 1080px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 {
			width: 71.25%;
		}

		.container.\35 0\25 {
			width: 47.5%;
		}

		.container.\32 5\25 {
			width: 23.75%;
		}

		.container {
			width: 95%;
		}

	}

	@media screen and (max-width: 880px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 118.75%;
			min-width: 95%;
		}

		.container.\37 5\25 {
			width: 71.25%;
		}

		.container.\35 0\25 {
			width: 47.5%;
		}

		.container.\32 5\25 {
			width: 23.75%;
		}

		.container {
			width: 95%;
		}

	}

	@media screen and (max-width: 768px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 112.5%;
			min-width: 90%;
		}

		.container.\37 5\25 {
			width: 67.5%;
		}

		.container.\35 0\25 {
			width: 45%;
		}

		.container.\32 5\25 {
			width: 22.5%;
		}

		.container {
			width: 90% !important;
		}

	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 40px 0 0 40px;
	}

	.row {
		margin: -40px 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 40px 0 0 40px;
		}

		.row {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform {
			margin: -40px 0 -1px -40px;
		}

		.row.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.uniform.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.\31 2u\28normal\29, .\31 2u\24\28normal\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28normal\29, .\31 1u\24\28normal\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28normal\29, .\31 0u\24\28normal\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28normal\29, .\39 u\24\28normal\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28normal\29, .\38 u\24\28normal\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28normal\29, .\37 u\24\28normal\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28normal\29, .\36 u\24\28normal\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28normal\29, .\35 u\24\28normal\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28normal\29, .\34 u\24\28normal\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28normal\29, .\33 u\24\28normal\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28normal\29, .\32 u\24\28normal\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28normal\29, .\31 u\24\28normal\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28normal\29 + *,
		.\31 1u\24\28normal\29 + *,
		.\31 0u\24\28normal\29 + *,
		.\39 u\24\28normal\29 + *,
		.\38 u\24\28normal\29 + *,
		.\37 u\24\28normal\29 + *,
		.\36 u\24\28normal\29 + *,
		.\35 u\24\28normal\29 + *,
		.\34 u\24\28normal\29 + *,
		.\33 u\24\28normal\29 + *,
		.\32 u\24\28normal\29 + *,
		.\31 u\24\28normal\29 + * {
			clear: left;
		}

		.\-11u\28normal\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28normal\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28normal\29 {
			margin-left: 75%;
		}

		.\-8u\28normal\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28normal\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28normal\29 {
			margin-left: 50%;
		}

		.\-5u\28normal\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28normal\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28normal\29 {
			margin-left: 25%;
		}

		.\-2u\28normal\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28normal\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1080px) {

		.row > * {
			padding: 40px 0 0 40px;
		}

		.row {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform {
			margin: -40px 0 -1px -40px;
		}

		.row.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.uniform.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.\31 2u\28narrow\29, .\31 2u\24\28narrow\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrow\29, .\31 1u\24\28narrow\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrow\29, .\31 0u\24\28narrow\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrow\29, .\39 u\24\28narrow\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrow\29, .\38 u\24\28narrow\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrow\29, .\37 u\24\28narrow\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrow\29, .\36 u\24\28narrow\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrow\29, .\35 u\24\28narrow\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrow\29, .\34 u\24\28narrow\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrow\29, .\33 u\24\28narrow\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrow\29, .\32 u\24\28narrow\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrow\29, .\31 u\24\28narrow\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrow\29 + *,
		.\31 1u\24\28narrow\29 + *,
		.\31 0u\24\28narrow\29 + *,
		.\39 u\24\28narrow\29 + *,
		.\38 u\24\28narrow\29 + *,
		.\37 u\24\28narrow\29 + *,
		.\36 u\24\28narrow\29 + *,
		.\35 u\24\28narrow\29 + *,
		.\34 u\24\28narrow\29 + *,
		.\33 u\24\28narrow\29 + *,
		.\32 u\24\28narrow\29 + *,
		.\31 u\24\28narrow\29 + * {
			clear: left;
		}

		.\-11u\28narrow\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrow\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrow\29 {
			margin-left: 75%;
		}

		.\-8u\28narrow\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrow\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrow\29 {
			margin-left: 50%;
		}

		.\-5u\28narrow\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrow\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrow\29 {
			margin-left: 25%;
		}

		.\-2u\28narrow\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrow\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 880px) {

		.row > * {
			padding: 40px 0 0 40px;
		}

		.row {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform {
			margin: -40px 0 -1px -40px;
		}

		.row.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 80px 0 0 80px;
		}

		.row.uniform.\32 00\25 {
			margin: -80px 0 -1px -80px;
		}

		.row.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 60px 0 0 60px;
		}

		.row.uniform.\31 50\25 {
			margin: -60px 0 -1px -60px;
		}

		.row.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform.\35 0\25 {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\32 5\25 {
			margin: -10px 0 -1px -10px;
		}

		.\31 2u\28narrower\29, .\31 2u\24\28narrower\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28narrower\29, .\31 1u\24\28narrower\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28narrower\29, .\31 0u\24\28narrower\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28narrower\29, .\39 u\24\28narrower\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28narrower\29, .\38 u\24\28narrower\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28narrower\29, .\37 u\24\28narrower\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28narrower\29, .\36 u\24\28narrower\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28narrower\29, .\35 u\24\28narrower\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28narrower\29, .\34 u\24\28narrower\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28narrower\29, .\33 u\24\28narrower\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28narrower\29, .\32 u\24\28narrower\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28narrower\29, .\31 u\24\28narrower\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28narrower\29 + *,
		.\31 1u\24\28narrower\29 + *,
		.\31 0u\24\28narrower\29 + *,
		.\39 u\24\28narrower\29 + *,
		.\38 u\24\28narrower\29 + *,
		.\37 u\24\28narrower\29 + *,
		.\36 u\24\28narrower\29 + *,
		.\35 u\24\28narrower\29 + *,
		.\34 u\24\28narrower\29 + *,
		.\33 u\24\28narrower\29 + *,
		.\32 u\24\28narrower\29 + *,
		.\31 u\24\28narrower\29 + * {
			clear: left;
		}

		.\-11u\28narrower\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28narrower\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28narrower\29 {
			margin-left: 75%;
		}

		.\-8u\28narrower\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28narrower\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28narrower\29 {
			margin-left: 50%;
		}

		.\-5u\28narrower\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28narrower\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28narrower\29 {
			margin-left: 25%;
		}

		.\-2u\28narrower\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28narrower\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 768px) {

		.row > * {
			padding: 20px 0 0 20px;
		}

		.row {
			margin: -20px 0 -1px -20px;
		}

		.row.uniform > * {
			padding: 20px 0 0 20px;
		}

		.row.uniform {
			margin: -20px 0 -1px -20px;
		}

		.row.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 40px 0 0 40px;
		}

		.row.uniform.\32 00\25 {
			margin: -40px 0 -1px -40px;
		}

		.row.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\31 50\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 10px 0 0 10px;
		}

		.row.uniform.\35 0\25 {
			margin: -10px 0 -1px -10px;
		}

		.row.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 5px 0 0 5px;
		}

		.row.uniform.\32 5\25 {
			margin: -5px 0 -1px -5px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	body {
		background: #666b6a;
		font-family: 'Open Sans', sans-serif;
		font-size: 11pt;
		line-height: 1.75em;
		color: #909090;
	}

	input, textarea, select {
		font-family: 'Open Sans', sans-serif;
		font-size: 11pt;
		line-height: 1.75em;
		color: #909090;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1em;
		text-transform: uppercase;
		font-family: 'Fjalla One', sans-serif;
		font-weight: 300;
		color: #4d5251;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.7em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.60em;
		line-height: 1.5em;
	}

	strong, b {
		font-weight: 700;
		color: #000000;
	}

	em, i {
		font-style: italic;
	}

	a {
		color: #4676AA;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	header {
		margin-bottom: 1em;
	}

		header h2 {
			letter-spacing: 0.05em;
		}

		header .byline {
			display: block;
			margin: 0em 0 0 0;
			padding: 0em 0 0.5em 0;
			letter-spacing: 0.05em;
			font-weight: 300;
			font-size: 1.3em;
			color: #4676AA;
		}

	footer {
		margin-top: 1em;
	}

	br.clear {
		clear: both;
	}

/* Sections/Articles */

	section, article {
		margin-bottom: 3em;
	}

		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}

	.row > section, .row > article {
		margin-bottom: 0;
	}

/* Images */

	.image {
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.full {
			display: block;
			width: 100%;
		}

		.image.left {
			float: left;
			margin: 0 2em 2em 0;
		}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* Lists */

	ul.style1 {
		padding-top: 1em;
	}

		ul.style1 > li {
			position: relative;
			padding: 0.7em 0 0.7em 0em;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
		}

			ul.style1 > li:before {
				position: absolute;
				left: 0;
				top: 0.35em;
				display: block;
				color: #3a71d8;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				font-size: 1.4em;
			}

			ul.style1 > li:first-child {
				padding-top: 0;
				border-top: none;
			}

				ul.style1 > li:first-child:before {
					top: 0;
				}

		ul.style1 a {
			text-decoration: none;
			color: #353535;
		}

	ul.style2 a:hover {
		text-decoration: underline;
	}

	ul.default {
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
		}

		ul.icons a {
			display: inline-block;
			width: 2em;
			height: 2em;
			line-height: 2em;
			text-align: center;
			border: 0;
		}

	ul.menu {
		cursor: default;
	}

		ul.menu li {
			display: inline-block;
			line-height: 1em;
			border-left: solid 1px #ddd;
			padding: 0 0 0 0.5em;
			margin: 0 0 0 0.5em;
		}

			ul.menu li:first-child {
				border-left: 0;
				padding-left: 0;
				margin-left: 0;
			}

	ul.actions {
		cursor: default;
	}

		ul.actions li {
			display: inline-block;
			margin: 0 0 0 0.5em;
		}

			ul.actions li:first-child {
				margin-left: 0;
			}

	ul.info li {
		padding: 1.5em 0 1.5em 0;
		border-top: solid 1px rgba(0, 0, 0, 0.1);
	}

		ul.info li:first-child {
			padding-top: 0;
			border-top: none;
			box-shadow: none;
		}

	ul.info h3 {
		display: inline-block;
		padding-bottom: 0.50em;
		font-size: 1.2em;
	}

	ul.info a {
		text-decoration: none;
		color: #898e96;
	}

		ul.info a:hover {
			text-decoration: underline;
		}

	ul.social {
		padding-top: 0.2em;
		text-align: center;
	}

		ul.social li {
			display: inline-block;
			padding: 0px 5px;
		}

			ul.social li span {
				display: none;
			}

			ul.social li a {
				display: inline-block;
				color: #FFF;
			}

				ul.social li a:before {
					display: inline-block;
					width: 36px;
					height: 36px;
					border: 2px solid #4676AA;
					border-radius: 50%;
					line-height: 33px;
					text-align: center;
					font-size: 1em;
					color: #4676AA;
				}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

/* Forms */

	form input, form select, form textarea {
		-webkit-appearance: none;
	}

	form input[type=text],
	form input[type=password],
	form select,
	form textarea {
		-webkit-appearance: none;
		width: 100%;
		border: 0;
		padding: 0.50em;
		font-size: 1.2em;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		border-radius: 6px;
		background: #fafafa;
		border: 1px solid #e8e8e8;
		outline: none;
		color: #707070;
	}

		form input[type=text]:focus,
		form input[type=password]:focus,
		form select:focus,
		form textarea:focus {
			box-shadow: inset 0 0 0 2px #6597CF;
		}

	form input[type=text],
	form input[type=password],
	form select {
		line-height: 1em;
	}

	form textarea {
		height: 10em;
	}

	form .formerize-placeholder, form ::-webkit-input-placeholder, form :-moz-placeholder, form ::-moz-placeholder, form :-ms-input-placeholder {
		color: #93989f !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr:nth-child(2n+2) {
				background: #f4f4f4;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				text-align: left;
				font-weight: 700;
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default thead {
				background: #444;
				color: #fff;
			}

			table.default tfoot {
				background: #eee;
			}

/* Buttons */

	.button {
		-moz-transition: background-color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out;
		position: relative;
		display: inline-block;
		padding: 0.30em 0.7em 0.10em 0.7em;
		border: 0;
		background: #4676AA;
		border-bottom: 3px solid #29578A;
		border-radius: 4px;
		letter-spacing: 0.10em;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Fjalla One', sans-serif;
		font-size: 1em;
		font-weight: 300;
		color: #fff;
		cursor: pointer;
	}

		.button:hover {
			background: #5587BF;
		}

		.button.alt {
			background: #4D5251;
			border-bottom-color: #3D4241;
		}

			.button.alt:hover {
				background: #5D6261;
			}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

/* Header */

	body:before {
		content: '';
		display: block;
		padding: 0.4em 0em;
		background: #f3f3f3;
		box-shadow: inset 0 6px 8px -4px rgba(0, 0, 0, 0.1), inset 0 -4px 8px -8px rgba(0, 0, 0, 0.8);
	}

	body:after {
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-moz-transform-origin: 0 100%;
		-webkit-transform-origin: 0 100%;
		-ms-transform-origin: 0 100%;
		transform-origin: 0 100%;
		content: '';
		position: absolute;
		top: 0.65em;
		left: 50%;
		width: 10px;
		height: 10px;
		background: #f3f3f3;
		margin: 0px auto;
		box-shadow: inset 2px -2px 2px 0px rgba(0, 0, 0, 0.05);
		z-index: 3;
	}

	#header {
		position: relative;
		padding: 4.35em 0em 4em 0em;
		background: #FFF;
	}

		#header .container {
			position: relative;
		}

/* Logo */

	#logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		height: 3em;
		line-height: 3em;
	}

		#logo a {
			border: 0;
			color: #4676AA;
			font-size: 3.7em;
			background: #fff;
			padding: 0 0.5em 0 0.5em;
			outline: 0;
		}

/* Nav */

	#nav {
		text-align: center;
		top: 2em;
		left: 0;
		width: 100%;
		margin: 0em auto;
		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.1);
	}

		#nav > ul {
			margin: 0;
			width: 100%;
		}

			#nav > ul > li {
				position: relative;
				display: inline-block;
				z-index: 2;
			}

				#nav > ul > li > ul {
					display: none;
				}

				#nav > ul > li > span, #nav > ul > li > a {
					color: #828d8c;
					text-decoration: none;
					outline: 0;
					border: 0;
					padding: 0.3em 0.8em 0.4em 0.8em;
					border: solid 1px rgba(255, 255, 255, 0);
					border-radius: 0.35em;
					line-height: 3em;
					text-transform: uppercase;
					font-size: 0.90em;
					font-weight: 300;
				}

				#nav > ul > li.active > span, #nav > ul > li.active > a {
					background: #F3F3F3;
				}

				#nav > ul > li:first-child {
					margin-left: 0;
				}

				#nav > ul > li.break {

					/*
						Use this to adjust the logo gap in the menu. You'll also
						need to update this same rule in style-narrower.css.
					*/

					margin-left: 20em;
				}

					#nav > ul > li.break a {
						margin-left: -2em !important;
					}

				#nav > ul > li.pad a {
					margin-right: 2em;
					padding-right: 3em !important;
				}

	.dropotron {
		top: 0;
		text-align: left;
		line-height: 2em;
		min-width: 14em;
		background: #4676AA;
		line-height: 1em;
		padding: 0.85em 0 0.85em 0;
		border-radius: 4px;
		border-bottom: 3px solid #29578A;
		text-transform: uppercase;
		text-align: left;
	}

		.dropotron a, .dropotron span {
			-moz-transition: color 0.25s ease-in-out;
			-webkit-transition: color 0.25s ease-in-out;
			-ms-transition: color 0.25s ease-in-out;
			transition: color 0.25s ease-in-out;
			display: block;
			padding: 1em 1.5em 1em 1.5em;
			border-top: solid 1px;
			border-color: rgba(255, 255, 255, 0.1);
			border-bottom: 0;
			font-size: 0.90em;
			text-decoration: none;
			color: #FFF;
			color: rgba(255, 255, 255, 0.75);
		}

		.dropotron li:first-child > a, .dropotron li:first-child > span {
			border-top: 0;
		}

		.dropotron li.active > a, .dropotron li.active > span {
			color: #FFF;
		}

		.dropotron li:hover > a, .dropotron li:hover > span {
			color: #FFF;
		}

		.dropotron.level-0 {
			margin-top: 1.8em;
			font-size: 1em;
		}

			.dropotron.level-0:before {
				content: '';
				position: absolute;
				top: -1.2em;
				left: 50%;
				margin-left: -0.65em;
				width: 1.3em;
				height: 1.3em;
				border-bottom: solid 0.8em #4676AA;
				border-left: solid 0.8em transparent;
				border-right: solid 0.8em transparent;
			}

/* Banner */

	#banner {
		position: relative;
		padding: 5em 0em;
		background: url(../../images/bannerbg.jpg) no-repeat;
		background-size: cover;
		text-align: center;
	}

		#banner header h2 {
			font-size: 2.8em;
			color: #fff;
		}

		#banner header .byline {
			display: inline-block;
			width: 60%;
			padding: 1em 5em 0em 5em !important;
			color: #fff;
		}

		#banner .image {
			margin-bottom: 2em;
			padding: 1em;
			box-shadow: 0 6px 0px -1px rgba(0, 0, 0, 0.2);
			border: 2px solid rgba(255, 255, 255, 0.5);
			border-radius: 50%;
		}

			#banner .image img {
				margin: 0em;
				padding: 0;
				border: 4px solid rgba(255, 255, 255, 0.5);
				border-radius: 50%;
			}

		#banner .button {
			font-size: 1.2em;
			padding: 0.50em 0.7em 0.30em 0.7em;
		}

/* Main */

	#main {
		position: relative;
		padding: 6em 0em;
		background: #f3f3f3;
	}

		#main header {
			margin-bottom: 2em;
		}

			#main header h2 {
				font-size: 2.8em;
			}

			#main header .byline {
				padding-top: 1em;
			}

		#main h3 {
			padding: 1.5em 0em 0.80em 0em;
			text-transform: capitalize;
			font-family: 'Open Sans', sans-serif;
			font-size: 1.30em;
			font-weight: 400;
		}

		#main .image {
			border: 6px solid #FFF;
			border-radius: 4px;
			box-shadow: 0 4px 0px -1px rgba(0, 0, 0, 0.1);
		}

		#main .details {
			display: block;
			margin: 0em 2em 2em 2em;
		}

		#main .divider {
			overflow: hidden;
			display: inline-block;
			margin: 0;
			padding: 0;
			width: 80px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

	.contact #main header {
		margin-bottom: 3em;
	}

	.homepage #main {
		padding: 4em 0em;
		text-align: center;
	}

		.homepage #main header {
			margin-bottom: 0;
		}

			.homepage #main header .byline {
				display: inline-block;
				width: 60%;
				padding: 1em 5em 0em 5em !important;
			}

		.homepage #main h3 {
			padding-bottom: 0.50em;
			font-size: 1.50em;
		}

/* Content */

	#content h3 {
		font-size: 1.2em;
	}

/* Sidebar */

	#sidebar header h2, #sidebar2 header h2 {
		font-size: 1.8em;
	}

	#sidebar .button {
		margin: 1em 0em;
	}

/* Featured */

	#featured {
		position: relative;
		padding: 4em 0em;
		background: #fff;
		text-align: center;
	}

		#featured header {
			margin-bottom: 2em;
		}

		#featured .box-style {
			margin-bottom: 2.5em;
			padding: 1.5em 0.50em 1em 0.30em;
			box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.1);
		}

/* Footer */

	#footer {
		position: relative;
		padding: 3em 0em;
		background: #4d5251;
		text-align: center;
		color: #6597CF;
	}

		#footer h3 {
			margin-bottom: 1em;
			letter-spacing: 0.10em;
			color: #FFF;
		}

		#footer a {
			color: #6597CF;
		}

/* Copyright */

	#copyright {
		position: relative;
		padding: 3em 0em 4em 0em;
		text-align: center;
	}

/* Portfolio */

	#portfolio {
		position: relative;
		padding: 4em 0em;
		background: #FFF;
	}

		#portfolio .image {
			margin-bottom: 2em;
			padding: 0.80em;
			border: 2px solid #4676AA;
			border-radius: 50%;
		}

			#portfolio .image img {
				margin: 0em;
				padding: 0;
				border: 5px solid rgba(0, 0, 0, 0.1);
				border-radius: 50%;
			}

		#portfolio header {
			text-align: center;
		}

			#portfolio header h2 {
				display: inline-block;
				padding: 0em 1.5em 1em 1.5em;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				font-size: 2.8em;
			}

			#portfolio header .byline {
				padding-top: 1em !important;
			}

		#portfolio .border-style {
			position: relative;
			overflow: hidden;
			width: 80px;
			margin: 0px auto 0em auto;
			top: -2em;
		}

		#portfolio .border {
			overflow: hidden;
			margin: 0 auto;
			padding: 0;
			width: 80px;
			display: table-cell;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		#portfolio .pbox1 {
			position: relative;
			overflow: hidden;
			right: 0;
			padding-top: 4em;
			padding-left: 10em;
			text-align: right;
		}

		#portfolio .network {
			display: inline-block;
			overflow: hidden;
		}

		#portfolio .author {
			display: inline-block;
			overflow: hidden;
			margin-right: 2em;
		}

			#portfolio .author h3 {
				margin: 0;
				padding: 0;
				font-size: 1.6em;
			}

			#portfolio .author span {
				display: block;
				margin-top: -4px;
				letter-spacing: 0.05em;
				font-size: 0.90em;
				font-style: italic;
			}

		#portfolio .pbox2 {
			text-align: center;
		}

		#portfolio .pbox3 {
			overflow: hidden;
			display: table-cell;
			vertical-align: middle;
			padding-top: 3em;
			padding-right: 10em;
		}

/* Newsletter */

	#newsletter {
		position: relative;
	}

		#newsletter .text {
			outline: none;
			height: 2.4em;
			padding: 0em 0.60em;
			border: 0;
			border-radius: 5px;
			border: 1px solid;
			border-color: rgba(255, 255, 255, 0.2);
			background: none;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1.1em;
			font-weight: 300;
			line-height: 2.4em;
			color: #ccc;
		}

		#newsletter .submit {
			position: absolute;
			right: 0;
			top: 0;
			height: 2.4em;
			padding: 0 0.70em 0 0.70em;
			background: #6597CF;
			display: block;
			border: 0;
			line-height: 2.5em;
			border-radius: 0px 5px 5px 0px;
			letter-spacing: 0.10em;
			text-decoration: none;
			text-transform: uppercase;
			font-family: 'Fjalla One', sans-serif;
			font-size: 1.1em;
			color: #fff;
		}

/* Normal */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body {
				font-size: 10pt;
			}

		/* Portfolio */

			#portfolio .pbox1 {
				padding-top: 3em;
				padding-left: 5em;
			}

			#portfolio .pbox3 {
				padding-top: 2em;
				padding-right: 5em;
			}

	}

/* Narrow */

	@media screen and (max-width: 1080px) {

		/* Basic */

			body {
				font-size: 10pt;
			}

			ul.social {
				text-align: right;
			}

				ul.social li:last-child {
					padding-right: 0;
				}

		/* Nav */

			#nav {
				width: 100%;
			}

		/* Portfolio */

			#portfolio .pbox1 {
				padding-top: 2.4em;
				padding-left: 3em;
			}

			#portfolio .pbox3 {
				padding-top: 2em;
				padding-right: 3em;
			}

	}

/* Narrower */

	@media screen and (max-width: 880px) {

		/* Basic */

			body {
				font-size: 10pt;
			}

			ul.social {
				text-align: right;
			}

				ul.social li:last-child {
					padding-right: 0;
				}

		/* Logo */

			#logo {
				top: -0.2em;
			}

				#logo a {
					font-size: 3em;
				}

		/* Nav */

			#nav {
				width: 100%;
			}

				#nav > ul > li > span, #nav > ul > li > a {
					font-size: 0.80em;
				}

				#nav > ul > li.break {

					/*
						Use this to adjust the logo gap in the menu. You'll also
						need to update this same rule in style.css.
					*/

					margin-left: 16em;
				}

		/* Portfolio */

			#portfolio .pbox1 {
				padding-top: 0.25em;
				padding-left: 3em;
			}

			#portfolio .network {
				display: block;
			}

			#portfolio .author {
				display: block;
				margin: 0 0 0 0;
			}

			#portfolio .pbox3 {
				padding-top: 1em;
				padding-right: 3em;
			}

	}

/* Mobile */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 768px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body {
				line-height: 1.75em;
				font-size: 10pt;
				letter-spacing: 0;
			}

			h2 {
				font-size: 1.30em;
			}

			.container {
				padding: 0px 15px;
			}

			header {
				margin-bottom: 2em;
			}

				header h2 {
					line-height: 1.4em;
					font-size: 1.3em;
				}

			ul.social {
				text-align: center;
			}

			.button {
				display: block;
				text-align: center;
			}

		/* Forms */

			form input[type=text],
			form input[type=password],
			form select,
			form textarea {
				padding: 0.70em;
				font-size: 1em;
			}

			form .button {
				display: block;
			}

		/* Buttons */

			.button {
				display: block;
				margin-top: 1.5em !important;
				padding: 0.50em;
			}

		/* Lists */

			ul.icons > li {
				padding-left: 6em;
			}

		/* Meta */

			.meta {
				font-size: 0.80em;
			}

			.mobile-hide {
				display: none;
			}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
				background: none;
			}

				#titleBar .toggle {
					position: absolute;
					left: 0;
					top: 0;
					width: 80px;
					height: 60px;
				}

					#titleBar .toggle:before {
						content: '';
						position: absolute;
						left: 7px;
						top: 7px;
						background: rgba(0, 0, 0, 0.2);
						width: 60px;
						height: 40px;
						border-radius: 4px;
					}

					#titleBar .toggle:after {
						content: '';
						display: block;
						width: 20px;
						height: 12px;
						position: absolute;
						left: 27px;
						top: 21px;
						background: url("images/toggle.svg") 0px 0px no-repeat;
						opacity: 0.7;
					}

					#titleBar .toggle:active:after {
						opacity: 0.9;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #3d4241;
				box-shadow: inset -10px 0px 10px 0px rgba(0, 0, 0, 0.1);
			}

				#navPanel .link {
					display: block;
					color: #888;
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border-top: solid 1px rgba(255, 255, 255, 0.05);
					padding: 0 1em 0 1em;
					text-transform: uppercase;
				}

					#navPanel .link.depth-0 {
						color: #fff;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

		/* Header */

			body:before, body:after {
				display: none;
			}

			#header {
				padding: 5em 0em !important;
			}

		/* Nav */

			#nav {
				display: none;
			}

			#featured .button {
				margin-bottom: 2em;
			}

		/* Banner */

			#banner header h2 {
				font-size: 1.7em;
			}

			#banner header .byline {
				display: block;
				width: 100%;
				padding: 1em 1em 0em 1em !important;
				font-size: 1.1em;
				color: #fff;
			}

		/* Main */

			#main {
				padding: 4em 0em 3em 0em;
			}

				#main .details {
					margin: 0em 1em 2em 1em;
				}

				#main .button {
					margin-bottom: 2em;
				}

				#main header {
					margin-bottom: 0;
				}

					#main header h2 {
						font-size: 1.7em;
					}

					#main header .byline {
						padding: 0.50em 0em 1em 0em !important;
						font-size: 1.1em;
					}

				#main h3 {
					padding: 1.5em 0em 0.80em 0em;
					text-transform: capitalize;
					font-family: 'Open Sans', sans-serif;
					font-size: 1.30em;
					font-weight: 400;
				}

			.homepage #main header .byline {
				display: block;
				width: 100%;
				padding: 0.50em 1em 1em 1em !important;
				font-size: 1.1em;
			}

			.homepage #main h3 {
				padding-bottom: 0.50em;
				font-size: 1.50em;
			}

		/* Content */

			#content h3 {
				font-size: 1.1em;
			}

		/* Footer */

			#footer section {
				margin-bottom: 2em;
			}

		/* Featured */

			#featured {
				padding-bottom: 2em;
			}

		/* Portfolio */

			#portfolio {
				padding-bottom: 2em;
				text-align: center;
			}

				#portfolio .image {
					margin-bottom: 0em;
				}

				#portfolio header h2 {
					font-size: 2em;
				}

				#portfolio .border-style {
					margin-top: 1em;
				}

				#portfolio .pbox1 {
					padding: 0;
				}

				#portfolio .author {
					margin-bottom: 1em;
					text-align: center;
				}

					#portfolio .author span {
						margin-top: -4px;
					}

				#portfolio .pbox3 {
					padding: 0;
				}

	}