## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_header()">
    <div id="header">
		<div class="container">
			
			${html_site_title()}
        	${html_navigation_links()}  
			
			
		</div>
	</div>
</%def>

<%def name="html_site_title()">
    
    <!-- Logo -->
	<h1 id="logo"><a href="index.html">Trusted CI<br>Guide</a></h1>  

</%def>

<%def name="html_navigation_links()">
	
	<nav id="nav">
		<ul>
			<li>
				<a href="#">Dropdown</a>
				<ul>
					<li><a href="#">Lorem ipsum dolor</a></li>
					<li><a href="#">Magna phasellus</a></li>
					<li><a href="#">Etiam dolore nisl</a></li>
					<li><a href="#">Phasellus consequat</a>
						<ul>
						<li><a href="#">Lorem ipsum dolor</a></li>
						<li><a href="#">Phasellus consequat</a></li>
						<li><a href="#">Magna phasellus</a></li>
						<li><a href="#">Etiam dolore nisl</a></li>
						<li><a href="#">Veroeros feugiat</a></li>
						</ul>
					</li>
					<li><a href="#">Veroeros feugiat</a></li>
				</ul>
			</li>
			<li><a href="left-sidebar.html">Left Sidebar</a></li>
			<li><a href="right-sidebar.html">Right Sidebar</a></li>
			<li class="break"><a href="two-sidebar.html">Two Sidebar</a></li>
			<li><a href="no-sidebar.html">No Sidebar</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
	</nav>
</%def>