## -*- coding: utf-8 -*-

<%def name="html_footer()">
	<div id="footer">
		<div class="container">
			<div class="row">

				<!-- Email -->
				<section class="4u 12u(mobile)">
					<h3>Email</h3>
					<a href="#">info@bizname.tld</a>
				</section>

				<!-- Newsletter -->
				<section class="4u 12u(mobile)">
					<h3>Subscribe</h3>
					<form method="post" action="#" id="newsletter">
						<input type="text" class="text" name="email" placeholder="Email Address" />
						<a href="#" class="submit">Subscribe</a>
					</form>
				</section>

				<!-- grants -->
				<section class="4u 12u(mobile)">
					<h3>NFS Grants</h3>
					<span>Trusted CI Grant #1547272, Trusted CI Suppliment Grant #1547272, Robust Eager Grant #1823385</span>
				</section>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div id="copyright">
		<div class="container">
			Copyright &copy; Untitled. All rights reserved.
		</div>
	</div>
</%def>
