## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_header()">
    <div id="header">
		<div class="container">
			
			${html_site_title()}
        	${html_navigation_links()}  
			
			
		</div>
	</div>
</%def>

<%def name="html_site_title()">
    
    <!-- Logo -->
	<h1 id="logo"><a href="index.html">Trusted CI<br>Guide</a></h1>  

</%def>

<%def name="html_navigation_links()">
	
	<nav id="nav">
		<ul>
			<li><a href="./index.html">Trusted CI SWE Guide</a></li>
			<li><a href="./ComingSoon.html">Introduction</a></li>
			<li><a href="./ComingSoon.html">Software Development Programs</a></li>
			<li><a href="./level1/index.html">Level 1: the minimally functional program</a></li>
			<li><a href="./level2/index.html">Level 2: Basic Software Engineering Practice</a></li>			
			<li><a href="./level3/index.html">Level 3: Software Engineering for Software Supporting Science Projects</a></li>
			<li><a href="./ComingSoon.html">Level 4: Software Engineering for high-reliability CI</a></li>
			<li><a href="./ComingSoon.html">Level 5: Software Engineering for Critical CI</a></li>
			<li><a href="./ComingSoon.html">More tools and processes</a></li>
			<li><a href="./ComingSoon.html">Tying it all together</a></li>
		</ul>
	</nav>
</%def>
